* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    text-align: center;
}

.right-container {
    width: 50%;
    height: 100vh;
    background: rgb(43, 43, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.left-container {
    width: 50%;
    height: 100vh;
    background: rgb(120, 120, 214);
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 70vh;
}

.left-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 70vh;
}


.current-score{
    width: 10rem;
    height: 5rem;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    background-color: rgb(46, 46, 90);
}
.game-container{
    position: absolute;
    /* background-color: aliceblue; */
    /* width: ; */
}