* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(104, 104, 205);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 80%;
    height: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
    background: rgba(255, 235, 205, 0.236);
}

.right-container {
    border-radius: 1rem;

    width: 50%;
    height: 100%;
    background: rgb(43, 43, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.left-container {
    border-radius: 1rem;

    width: 50%;
    height: 100%;
    background: rgb(120, 120, 214);
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 70%;
}

.left-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 70%;
}


.current-score {
    width: 10rem;
    height: 5rem;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    background-color: rgb(46, 46, 90);
}

.game-container {
    /* position: absolute; */
    background-color: aliceblue;
    /* width: ; */
}

.plyers-container {
    display: flex;
}

.player-score {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dies-container {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}

.img-container {
    width: 13rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

img {
    border-radius: 1rem;
    width: 5rem;
    height: 5rem;
}

.score-container {
    width: 100%;
    margin: 1rem 0;
    height: 3rem;
    background: rgba(165, 152, 128, 0.377);
    border-radius: 1rem;
}

.btn-container {
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-game {
    background: rgb(100, 100, 194);
    color: white;

}

.btn {
    border-radius: 0.5rem;
    width: 10rem;
    height: 3rem;
}