body {
    margin: 0;
    background: rgb(60, 60, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100dvh;

}

.container {
    width: 80%;
    height: 80dvh;
    background: rgb(90, 114, 224);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

form {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 20vh;
  
}

input {
    color: black;
    margin: 1rem 0;
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background: rgb(203, 203, 240);

}

button {
    width: 100%;
    height: 3rem;
    background: blue;
    color: white;
    font-size: large;
}

ul {
    text-align: start;
}

li {
    padding: 0.5rem;
}

.error-message{
    color: red;
    font-size: x-large;
}